.post-detail{
    padding:0.25rem 0 0.833333rem;
}
/*帖子内容模块*/
.post-md{
    margin-bottom: 0.444444rem;
}
.post-title{
    font-size: 0.555556rem;
    line-height: 1.5;
    color: #363636;
    margin-bottom: 0.185185rem;
}
.post-info{
    font-size: 0.333333rem;
    line-height: 1.138;
    color:#a7a7a7;
    margin-bottom: 0.37037rem;
}
.post-info a{
    color:#a7a7a7;
}
.post-time{
    float: right;
}
.post-content{
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0.37037rem;
    line-height: 1.5;
    color:#5c5c5c;
    padding: 0 0.277778rem 0.898148rem;
}
.post-opt{
    font-size: 0.425926rem;
    line-height: 1.15;
    margin-right: -0.166667rem;
    margin-left: -0.166667rem;
    text-align: right;
}
.post-opt-item{
    color:#5ab8fe;
    display: inline-block;
    padding:0 0.166667rem;
}
/*帖子回复*/
.post-comment{
    margin-bottom: 1.527778rem;
}
.post-comment>h2{
    color:#a7a7a7;
    font-size: 0.462963rem;
    line-height: 1.2;
    margin-bottom: 0.296296rem;
}
/*单条回复*/
.post-cm-item{
    padding:0.398148rem 0 0.185185rem;
    border-bottom: 1px solid #e8e8e8;
}
[data-dpr="2"] .post-cm-item{
    border-bottom-width: 2px;
}
[data-dpr="3"] .post-cm-item{
    border-bottom-width: 3px;
}
/*回复信息*/
.post-cm-info{
    font-size: 0.37037rem;
    line-height: 1.15;
    color:#363636;
    margin-bottom: 0.138889rem;
}
.post-cm-info a{
    color:#363636;
}
.post-cm-time{
    float:right;
}
/*回复内容*/
.post-cm-content{
    font-size: 0.37037rem;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: pre-wrap;
    color:#5b5b5b;
}
/*我的回复*/
.my-comment{
    
}
.my-comment>h2{
    color:#5ab8fe;
    font-size: 0.555556rem;
    line-height: 1.11667;
    margin-bottom: 0.324074rem;
}
/*表单*/
.post-detail-form textarea{
    margin-bottom: 1.157407rem;
    height:3.472222rem;
}

@media (min-width:768px){
    .post-detail{
        padding:27px 0 90px;
    }
    /*帖子内容模块*/
    .post-md{
        margin-bottom: 48px;
    }
    .post-title{
        font-size: 60px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .post-info{
        font-size: 36px;
        line-height: 1.138;
        margin-bottom: 40px;
    }
    .post-content{
        font-size: 40px;
        line-height:1.5;
        padding: 0 30px 97px;
    }
    .post-opt{
        font-size: 46px;
        line-height: 1.15;
        margin-right: -18px;
        margin-left: -18px;
    }
    .post-opt-item{
        padding:0 18px;
    }
    /*帖子回复*/
    .post-comment{
        margin-bottom: 165px;
    }
    .post-comment>h2{
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 32px;
    }
    .post-cm-item{
        padding:43px 0 20px;
    }
    .post-cm-info{
        font-size: 40px;
        line-height:1.15;
        margin-bottom: 15px;
    }
    .post-cm-content{
        font-size: 40px;
        line-height: 1.5;
    }
    /*我的回复*/
    .my-comment{
    
    }
    .my-comment>h2{
        font-size: 60px;
        line-height: 1.11667;
        margin-bottom: 35px;
    }
    /*表单*/
    .post-detail-form textarea{
        margin-bottom: 125px;
        height:375px;
    }
}